<h1>Admins Dashboard</h1>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Admins Panel</div>
  <div class="card-body">
    <h5 class="card-title">Creating Kudo & Employee management</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="d-grid gap-2">
  <%= link_to "Deliveries - { Number of waiting #{Order.where(status:0).count} }", admins_employees_orders_path, method: :get, class: "btn btn-primary" %>
</div>

<%= link_to 'Save Orders as CSV', admins_employees_orders_path(format: :csv) %>
||
<%= link_to 'Import Rewards from a CSV file', import_view_admins_rewards_path, method: :get %>
||
<%= link_to 'Import Online Codes from a CSV file', import_online_codes_admins_online_codes_path, method: :get %>
