<h1>Home Page</h1>
<div class="card text-center mt-5">
  <div class="card-header">
    Title: Kudo App
  </div>
  <div class="card-body">
    <h4 class="card-title">
      Content: An application through which you can express your praise to other users
    </h4>
  </div>
  <div class="card-footer">
    <%= Time.now.strftime("%d of %B, %Y") %>
  </div>
</div>
