<h1>Rewards</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.price %></td>
        <td><%= link_to 'Show', employees_reward_path(reward), class: "btn btn-outline-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Reward', new_admins_reward_path, class: "btn btn-warning" %>
