<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Status order for employee <%= @order.employee.email %></h1>
    <p>
      Your order <%= @order.title %> has been successfully delivered,
    </p>
    <p>
      We hope you are satisfied with the order fulfillment process. In case of doubt, please contact us.
    </p>
    <p>Thank you for being with us. Have a nice day!</p>
  </body>
</html>
